.tableContainer{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    margin: 40px 0;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
} 

.main{
    display: flex;
    flex-direction: column;
}

.buscador{
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    padding: 20px;
}