.footer{
    height: 70px;
    width: 100%;
    background-color: var(--azul);
    border-top: 3px solid var(--naranja);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.footer img{
    height: 40px;
    width: auto;
    margin: 5px 20px;
}