.footer{
    width: 100%;
    background-color: var(--azul);
    border-top: 3px solid var(--naranja);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.footer img{
    height: 30px;
    width: auto;
    margin: 10px 15px;
    user-select: none;
}