.header{
    width: 100%;
    height: auto;
    background-color: var(--azul);
    border-bottom: 3px solid var(--naranja);
    padding: 7px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header img{
    height: 40px;
    width: auto;
    cursor: pointer;
  }
  